<!DOCTYPE html>
<html lang="en" data-ng-app="website">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="About Us">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/assets/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/assets.min.css">
    <style>
        @@import url(//fonts.googleapis.com/css?family=Lato:regular,900italic,900,700italic,700,italic,300italic,300,100italic,100|Merriweather:regular,300,300italic,italic,700,700italic,900,900italic|Open+Sans:regular,300italic,300,italic,600,600italic,700,700italic,800,800italic&subset=latin);
    </style>
    <link rel="stylesheet" href="~/Content/assets/styles.css" id="moto-website-style">

</head>
<body class="moto-background moto-website_live moto-browser_chrome">
    <div class="page">
        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-bg-color2_3 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="block" data-visible-on="" data-spacing="sasa" style="" data-bg-position="center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">
                            <div class="moto-widget moto-widget-container undefined moto-container_header_60587a711 moto-sticky__bootstrapped" data-visible-on="" data-widget="container" data-container="container" data-css-name="moto-container_header_60587a711" data-bg-position="left top" data-moto-sticky="{}">
                                <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="saaa" style="" data-bg-position="left top">
                                    <div class="container-fluid">
                                        <div class="row" data-container="container">
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                <div data-widget-id="wid_1616401863_kp7lqgixd" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                                                    <a href="javascript:void(0)" data-action="page" class="moto-widget-image-link moto-link">
                                                        <img class="moto-widget-image-picture lazyloaded" data-id="147" title="" alt="" src="~/Content/assets/images/brolighttty.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-7 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                <div data-widget-id="wid_1616401958_we68ghxlv" class="moto-widget moto-widget-menu moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-widget="menu">
                                                    <a href="#" id="anch_menu" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                                                    <ul id="ul_menulist" class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                                                        <li class="moto-widget-menu-item">
                                                            <a href="~/Home/Index/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Home</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="~/Home/About/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 @(ViewBag.Title == "About Us"  ? " moto-widget-menu-link-active " :" ") moto-link">About</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="javascript:void(0)projects/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Projects<span class="fa moto-widget-menu-link-arrow"></span></a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="javascript:void(0)testimonials/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Testimonials</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="javascript:void(0)blog/" data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Blog</a>
                                                        </li>
                                                        <li class="moto-widget-menu-item">
                                                            <a href="~/Home/Contact/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 @(ViewBag.Title == "Contact Us"  ? " moto-widget-menu-link-active " :" ")  moto-link">Contacts</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                <div id="wid_1616401907_p6knsodxc" data-widget-id="wid_1616401907_p6knsodxc" class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="social_links_extended" data-preset="default">
                                                    <ul class="moto-widget-social-links-extended__list">
                                                        <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
                                                            <a href="javascript:void(0)about/#" class="moto-widget-social-links-extended__link" target="_self">
                                                                <span class="moto-widget-social-links-extended__icon fa"></span>
                                                            </a>
                                                        </li>
                                                        <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                                            <a href="javascript:void(0)about/#" class="moto-widget-social-links-extended__link" target="_self">
                                                                <span class="moto-widget-social-links-extended__icon fa"></span>
                                                            </a>
                                                        </li>
                                                        <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
                                                            <a href="javascript:void(0)about/#" class="moto-widget-social-links-extended__link" target="_self">
                                                                <span class="moto-widget-social-links-extended__icon fa"></span>
                                                            </a>
                                                        </li>
                                                        <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
                                                            <a href="javascript:void(0)about/#" class="moto-widget-social-links-extended__link" target="_self">
                                                                <span class="moto-widget-social-links-extended__icon fa"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <style type="text/css">
                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moto-sticky-pseudo-element" style="display: none; height: 56px; width: 1519px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>
    @RenderBody();
    <footer id="section-footer" class="footer moto-section moto-sticky__bootstrapped" data-widget="section" data-container="section" data-moto-sticky="{mode:&#39;smallHeight&#39;, direction:&#39;bottom&#39;, mobile: 0}" style="">
        <div class="moto-widget moto-widget-block moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-visible-on="" data-spacing="aaaa" style="" data-bg-position="left top" data-draggable-disabled="">
            <div class="container-fluid">
                <div class="row">
                    <div class="moto-cell col-sm-12" data-container="container">
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top">
                            <div class="container-fluid">
                                <div class="row" data-container="container">
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        <div data-widget-id="wid_1616408141_i7kjklzsd" class="moto-widget moto-widget-divider moto-preset-3 moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="3">
                                            <hr class="moto-widget-divider-line" style="max-width:100%;width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="maaa" style="" data-bg-position="left top">
                            <div class="container-fluid">
                                <div class="row" data-container="container">
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        <div data-widget-id="wid_1616409521_rvib3him9" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden" data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="+desktop,tablet">
                                            <div class="moto-widget-spacer-block" style="height:15px"></div>
                                        </div>
                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-visible-on="-" data-animation="">
                                            <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_8">Receive news right on your email</p></div>
                                        </div>
                                        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="md" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top">
                                            <div class="container-fluid">
                                                <div class="row" data-container="container">
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-md-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                        <div id="wid_1616408346_21nzcbezh" class="moto-widget moto-widget-mail_chimp moto-widget-contact_form moto-preset-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="mail_chimp" data-preset="2">
                                                            <div ng-controller="widget.MailChimp.Controller" ng-init="listId = &#39;&#39;;actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false;">
                                                                <form id="wid_1616408346_21nzcbezh__form" class="moto-widget-contact_form-form ng-pristine ng-invalid ng-invalid-required" role="form" name="subscribeForm" ng-submit="submit()" novalidate="">
                                                                    <div ng-show="sending" class="contact-form-loading ng-hide"></div>
                                                                    <div class="moto-widget-contact_form-group">
                                                                        <label for="field_email_wid_1616408346_21nzcbezh" class="moto-widget-contact_form-label">Enter your e-mail here</label>
                                                                        <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Enter your e-mail here *" ng-blur="validate(&#39;email&#39;)" required="" ng-model-options="{ updateOn: &#39;blur&#39; }" name="email" id="field_email_wid_1616408346_21nzcbezh" ng-model="message.email">
                                                                        <span class="moto-widget-contact_form-field-error ng-hide" ng-show="subscribeForm.email.$invalid &amp;&amp; !subscribeForm.email.$pristine &amp;&amp; !subscribeForm.email.emailInvalid">Field is required</span>
                                                                        <span class="moto-widget-contact_form-field-error ng-hide" ng-show="subscribeForm.email.emailInvalid &amp;&amp; !subscribeForm.email.$pristine">Incorrect email</span>
                                                                    </div>
                                                                    <input type="hidden" name="status" value="subscribed">
                                                                    <div class="moto-widget-contact_form-success ng-hide" ng-show="showSuccessMessage">
                                                                        You have successfully subscribed to the newsletter
                                                                    </div>
                                                                    <div class="moto-widget-contact_form-danger ng-hide" ng-show="emailError &amp;&amp; !isSubscribed">
                                                                        You were not subscribed. Please try again
                                                                    </div>
                                                                    <div class="moto-widget-contact_form-danger ng-hide" ng-show="emailError &amp;&amp; isSubscribed">
                                                                        You are already subscribed to this newsletter
                                                                    </div>
                                                                    <div class="moto-widget-contact_form-buttons">
                                                                        <div class="moto-widget moto-widget-button moto-preset-4 moto-preset-provider-default moto-align-left" data-preset="4" data-align="left">
                                                                            <button type="submit" class="moto-widget-button-link moto-size-medium" data-size="medium"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">SUBSCIBE</span></button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-md-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        <div data-widget-id="wid_1616408570_2xjq6fib1" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
                                            <a href="javascript:void(0)" data-action="page" class="moto-widget-image-link moto-link">
                                                <img class="moto-widget-image-picture lazyloaded" data-id="162" title="" alt="" src="~/Content/assets/images/brolighttty.jpg">
                                            </a>
                                        </div>
                                        <div id="wid_1616408646_n6xf4mlfn" data-widget-id="wid_1616408646_n6xf4mlfn" class="moto-widget moto-widget-social-links-extended moto-preset-2 moto-align-center moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="social_links_extended" data-preset="2">
                                            <ul class="moto-widget-social-links-extended__list">
                                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
                                                    <a href="https://instagram.com" class="moto-widget-social-links-extended__link" target="_self">
                                                        <span class="moto-widget-social-links-extended__icon fa"></span>
                                                    </a>
                                                </li>
                                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                                    <a href="https://facebook.com" class="moto-widget-social-links-extended__link" target="_self">
                                                        <span class="moto-widget-social-links-extended__icon fa"></span>
                                                    </a>
                                                </li>
                                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
                                                    <a href="https://twitter.com" class="moto-widget-social-links-extended__link" target="_self">
                                                        <span class="moto-widget-social-links-extended__icon fa"></span>
                                                    </a>
                                                </li>
                                                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
                                                    <a href="https://youtube.com" class="moto-widget-social-links-extended__link" target="_self">
                                                        <span class="moto-widget-social-links-extended__icon fa"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <style type="text/css">
                                            </style>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top">
                                            <div class="container-fluid">
                                                <div class="row" data-container="container">
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                    </div>
                                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                        <div data-widget-id="wid_1616409527_1368296x3" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden" data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="+desktop,tablet">
                                                            <div class="moto-widget-spacer-block" style="height:15px"></div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-visible-on="-" data-animation="" data-draggable-disabled="">
                                                            <div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true"><p class="moto-text_system_7">Contacts</p></div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-visible-on="-" data-spacing="aama" style="" data-bg-position="left top">
                                                            <div class="container-fluid">
                                                                <div class="row" data-container="container">
                                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                                                            <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_605871579b9fd"><span class="fa"></span></p></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-11 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                                                            <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_11">622 SuperTech SuperNova</p><p class="moto-text_system_11">Sec-32 Noida, India</p></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-visible-on="-" data-spacing="aama" style="" data-bg-position="left top">
                                                            <div class="container-fluid">
                                                                <div class="row" data-container="container">
                                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                                                            <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_605871579b9fd"><span class="fa"></span></p></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-11 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                                                            <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_11">P: <a href="tel:9803868376" data-action="call" class="moto-link">+91-9803868376</a></p><p class="moto-text_system_11">F: <a href="tel:9354585660" data-action="call" class="moto-link">+91-9354585660</a></p></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="masa" style="" data-bg-position="left top" data-draggable-disabled="">
                            <div class="container-fluid">
                                <div class="row" data-container="container">
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                                        <div data-widget-id="wid_1616409262_0yt5uzoid" class="moto-widget moto-widget-divider moto-preset-3 moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="3">
                                            <hr class="moto-widget-divider-line" style="max-width:100%;width:100%;">
                                        </div>
                                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="" data-draggable-disabled="">
                                            <div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true"><p class="moto-text_system_2" style="text-align: center;">Copyright © 2021. <a target="_self" href="javascript:void(0)privacy-policy/" data-action="page" data-id="17" class="moto-link">All Rights Reserved</a>.</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><div class="moto-sticky-pseudo-element" style="display: none; height: 354px; width: 1519px;"></div>
    <div data-moto-back-to-top-button="" class="moto-back-to-top-button animated">
        <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
            <span class="moto-back-to-top-button-icon fa"></span>
        </a>
    </div>
    <div data-moto-widget-callback="" class="moto-widget-callback moto-widget-callback_closed moto-preset-default" style="margin-bottom:50px;">
        <div class="moto-widget-callback__wrapper">
            <div class="moto-widget-callback__open-button moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_icon">
                <div class="moto-widget-callback__overlay moto-widget-callback__overlay_open-button"></div>
                <a href="tel:9803868376">
                    <span class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_icon fa fa-fw fa-phone"></span>
                </a>
            </div>
            <div class="moto-widget-callback__body moto-widget-callback__body_more-details-enabled" style="display: none;">
                <div class="moto-widget-callback__agent moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_image">
                    <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_image" style="background-image: url(https://wallpapercave.com/wp/wp3525469.jpg);"></div>
                </div>
                <div class="moto-widget-callback__description moto-widget-text">
                    <p class="moto-text_system_7" style="text-align: center;">John Smith</p><p class="moto-text_normal" style="text-align: center;">agent</p><p class="moto-text_system_8" style="text-align: center;"><a class="moto-link" data-action="call" href="tel:+112233445566"><span class="fa"></span> +112233445566</a></p>
                </div>
                <div class="moto-widget-callback__more-details-wrapper">
                    <hr class="moto-widget-callback__more-details-divider">
                    <div class="moto-widget-callback__more-details">
                        <div class="moto-widget-callback__more-details-item">
                            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                            <a href="https://t.me/#" class="moto-widget-callback__link moto-widget-callback__link-telegram_chat" title="Telegram" target="_blank"></a>
                        </div>
                        <div class="moto-widget-callback__more-details-item">
                            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                            <a href="https://wa.me/#" class="moto-widget-callback__link moto-widget-callback__link-whatsapp_chat" title="WhatsApp" target="_blank"></a>
                        </div>
                        <div class="moto-widget-callback__more-details-item">
                            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                            <a href="viber://pa/info?uri=#" class="moto-widget-callback__link moto-widget-callback__link-viber_public_account" title="Viber" target="_blank"></a>
                        </div>
                        <div class="moto-widget-callback__more-details-item">
                            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                            <a href="https://m.me/#" class="moto-widget-callback__link moto-widget-callback__link-fb_messenger_chat" title="Facebook Messenger" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div class="moto-widget-callback__more-details-button-wrapper"><i class="moto-widget-callback__more-details-button fa fa-angle-down"></i></div>
                <div class="moto-widget-callback__close-button">×</div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#anch_menu").click(function () {
                $("#ul_menulist").slideToggle();
            });
        });
    </script>
</body>
</html>